#game-data-view{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    z-index: 100;
    border-top: 2px solid black;
    background-color: darkorange;
}
#game-data-view > * {
    margin: 0 1em;
    float: left;
}
#tile-bag-svg {
    margin: 18px 0;
}