#nav-bar{
    position: fixed;
    top: 0;
    /*width: 100%;*/
    height: 100px;
    z-index: 100;
    border-bottom: 2px solid black;
    background-color: greenyellow;
    /*padding: em;*/
}
#nav-bar > * {
    /*margin: 0 1em;*/
    float: left;
}
#nav-bar h1 {
    font: bold 54px monospace;
    text-shadow: -2px 2px 3px rgba(10,10,255,1);
    margin-right: 10px;
}