li.player-tile {
    display: inline-block;
    margin: 5px;
    float:left;
    background-color: none;
}
li.player-tile.hidden {
    display: none;
}
li.player-tile.hovered::before {
    content: '';
    width: 44px;
    height: 44px;
    border: 3px dashed black;
    display: inline-block;
    margin: 0 5px; 
}
li.player-tile.dragged-tile {
    margin: 2px;
    border: 3px dashed black;
    background-color: lightgray;
    border-radius: 10px;
}